<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="http://d8.xixicard.com/sites/default/files/inline-images/drupal8_0.png" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting">苏州开发者</h2>
          <p class="message">IONIC+Drupal8</p>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.bookmarks">
          <i class="icon ion-bookmark"></i>
          <h2 class="menu-text">我的收藏</h2>
        </ion-item>
        <ion-item class="item-icon-left hide" nav-clear menu-close ui-sref="app.feeds-categories">
          <i class="icon ion-radio-waves"></i>
          <h2 class="menu-text">技术沙龙</h2>
        </ion-item>
        <ion-item class="item-icon-left hide" nav-clear menu-close href="#/app/wordpress">
          <i class="icon ion-social-wordpress"></i>
          <h2 class="menu-text">wordpress</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close href="#/app/developers/1">
          <i class="icon ion-social-wordpress"></i>
          <h2 class="menu-text">开发者风采</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.layouts">
          <i class="icon ion-wand"></i>
          <h2 class="menu-text">神奇模板</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.image-picker">
          <i class="icon ion-asterisk"></i>
          <h2 class="menu-text">照片分享</h2>
        </ion-item>
        <ion-item class="item-icon-left hide" nav-clear menu-close ui-sref="app.miscellaneous">
          <i class="icon ion-asterisk"></i>
          <h2 class="menu-text">实用工具</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.forms">
          <i class="icon ion-document"></i>
          <h2 class="menu-text">表单工具</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">我的设置</h2>
        </ion-item>

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
