<ion-view class="image-picker-view">
  <ion-nav-title>
    <span>照片分享(android/ios可用)</span>
  </ion-nav-title>
  <ion-content class="padding">
    <button class="button button-block button-dark" ng-click="selImages()">
      选择照片
    </button>
    <button  ng-show="images.length > 0" class="button button-block button-stable" ng-click="shareAll()">
      全部分享
    </button>
    <div class="list card" ng-repeat="img in images">
      <div class="item item-image">
        <img ng-src="{{img}}">
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item image-option" href="#" ng-click="shareImage(img)">
          <i class="icon ion-share"></i>
          分享
        </a>
        <a class="tab-item assertive image-option" href="#" ng-click="removeImage(img)">
          <i class="icon ion-trash-a assertive"></i>
          删除
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
